<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<body id="registration">
<div class="body-title">
    <a th:href="@{/base_page}" th:text="#{local.loclink.name.news}"></a>
    >> <span th:text="#{local.loclink.name.reg}"></span>
</div>

<div class="reg-form-body">
    <form method="POST" th:action="@{/registration/do_registration}" th:object="${newUserInfo}">
        <div>
            <label for="name" th:text="#{local.loclabel.name.name}"></label>
            <input class="form-control" id="name"  pattern="[A-Z a-z]+" required="required" th:field="*{name}"
                   type="text"/>
                   <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
        </div>
        <br/>
        <div>
            <label for="surname" th:text="#{local.loclabel.name.surname}"></label>
            <input class="form-control" id="surname" pattern="[A-Z a-z]+" required="required" th:field="*{surname}"
                   type="text"/>
                    <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</div>
        </div>
        <br/>
        <div>
            <label for="login">
                <span th:text="#{local.loclabel.name.logMail}"></span>
                <th:block th:unless="${messageLoginExist eq null}">
                    <font color="red"> <span th:text="${messageLoginExist}"></span>
                        <span th:text="#{local.loclabel.name.exist}"></span>
                    </font>
                </th:block>
            </label>
            <input class="form-control" id="login" required="required" th:field="*{login}" type="email"/>
            <div style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login Error</div>
        </div>
        <br/>
        <div>
            <label for="birthday" th:text="#{local.loclabel.name.birthday}"></label>
            <input class="form-control" id="birthday" required="required" th:field="*{birthday}" type="date"/>
        </div>
        <br/>
        <div>
            <label for="password" th:text="#{local.loclabel.name.password}"></label>
            <input class="form-control" id="password" pattern="[A-Z a-z 1-9]+" required="required" th:field="*{password}"  type="password"/>
                   <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
        </div>
        <br/>
        <div>
            <input class="btn" th:value="#{local.loclink.name.reg}" type="submit" value=""/>
        </div>
    </form>
</div>
</body>
</html>
